
@import "../../common/styles/variables";
.projects {
  height: 100vh;
  background-color: $bgColor;

  .container {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;

    .myProjects {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      @media screen and (max-width: 1129px) {
        justify-content: center;
      }
    }
  }
}


