
.title{
    margin-top: 20px;
    position: relative;
}
.title::before{
    left: 50%;
    bottom: -10px;
    content: "";
    width: 70px;
    height: 2px;
    transform: translate(-50%,50%);
    background-color: orchid;
    position: absolute;
}
.title h2 {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    margin: 0;
    font-weight: 600;
    text-transform: capitalize;
    Font-size: 36px;
    line-height: 1.2;
    letter-spacing: 5px;
}
