.contacts {
    height: 100vh;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    text-align: justify-all

}
.container{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
}
.form{
    width: 400px;
    display: flex;
    flex-direction: column;
}