.projects {
    height: 100vh;
    background-color: indianred;
    display: flex;
    justify-content: center;
}
.container{
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;

    margin-top: 50px;
}
.myProjects{

    height: 50vh ;
    width: 100%;
    display: flex;
    justify-content: space-around;

}
@media only screen and(max-width: 320px){
.myProjects{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap-reverse;
}
}